$candyAppleRed: #ff1801;
$imgBoxShadow: 0.5px 0.5px 2px 2px rgb(36, 36, 36);

$mercedes: #00d2be;
$ferrari: #dc0000;
$red_bull: #1e41ff;
$mclaren: #ff8700;
$renault: #fff500;
$racing_point: #f596c8;
$toro_rosso: #469bff;
$haas: #f0d787;
$alfa: #9b0000;
$williams: #ffffff;

$mercedes2: #00d2bdd7;
$ferrari2: #dc0000d7;
$red_bull2: #1e41ffd7;
$mclaren2: #ff8700d7;
$renault2: #fff500d7;
$racing_point2: #f596c8d7;
$toro_rosso2: #469bffd7;
$haas2: #f0d787d7;
$alfa2: #9b0000d7;
$williams2: #ffffffd7;

$mercedes3: #00d2bd40;
$ferrari3: #dc000040;
$red_bull3: #1e41ff40;
$mclaren3: #ff870040;
$renault3: #fff50040;
$racing_point3: #f596c840;
$toro_rosso3: #469bff40;
$haas3: #f0d78740;
$alfa3: #9b000040;
$williams3: #ffffff40;
