$candyAppleRed: #ff1801;
$imgBoxShadow: 0.5px 0.5px 2px 2px rgb(36, 36, 36);
$mercedes: #00d2be;
$ferrari: #dc0000;
$red_bull: #1e41ff;
$mclaren: #ff8700;
$renault: #fff500;
$racing_point: #9b0000;
$toro_rosso: #469bff;
$haas: #f0d787;
$alfa: #00d2be;
$williams: #ffffff;

$mercedes2: #00d2bd40;
$ferrari2: #dc000040;
$red_bull2: #1e41ff40;
$mclaren2: #ff870040;
$renault2: #fff50040;
$racing_point2: #9b000040;
$toro_rosso2: #469bff40;
$haas2: #f0d78740;
$alfa2: #00d2be40;
$williams2: #ffffff40;
