@import "../../constants/style-constants.scss";

.navbar {
  padding: 0 20px;
  background-color: $candyAppleRed;
  color: white;

  .logo {
    display: inline-block;
    padding: 8px;
    margin-right: 5px;
    height: 40px;
    vertical-align: bottom;
  }

  .logo:hover {
    cursor: pointer;
  }
}
